@import 'src/styles/vars/colors';

.mainPostsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 80vw;
}

.tagWrapper {
    margin-bottom: 50px;
}

.postWrapper {
    display: flex;
    flex-direction: row;
}

/*******Post*******/
.posts {
    display: flex;
    flex-direction: row;
    width: 50vw;
}

.postItemLeft {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 50px;
    width: calc(50% - 20px);
}

.postItemRight {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc(50% - 20px);
}

.postItemWrapper {
    box-shadow: 0 0 20px $l-primary-gray;
}

.postImage {
    > img {
        width: 100%;
    }
}

.postItem {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 30px 20px 30px;

    color: $black;
    word-break: break-all;

    > div.createdInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        color: $l-primary-gray;

        > span {
            display: inline-block;
            font-size: 14px;
        }
    }

    > span.itemTitle {
        font-size: 24px;
        font-weight: 700;
    }

    > span.itemBody {
        font-size: 15px;
        color: $gray;
    }

    > div.itemComment {
        position: absolute;
        top: 70%;
        left: 0;
        width: 60%;
        height: 1px;
        
        background-color: $light-gray;

        > .commentBox {
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            
            padding: 10px 15px;
            top: -20px;
            left: 110%;
            background-color: $light-gray;

            border-radius: 25px;
            color: $gray;

            > span {
                white-space: nowrap;
            }
        }
    }

    > div.itemTags {
        margin-top: 40px;
    }
}


.material-symbols-outlined {
    left: 60%;
    color: $l-primary-gray;
}


/*******Latest Post*******/
.latestPostWrapper {
    margin-left: 50px;
    width: 20vw;

    > span {
        font-size: 20px;
        font-weight: 700;
    }
}

