// NOTE(hajae): https://colorhunt.co/palette/fefbf6a6d1e67f52833d3c42

$white: #FFFFFF;
$very-light-gray: #EEEEEE;
$black: #000000;
$background-blue: #8797C1;
$hovered-background-blue: #9baddb;
$gray: #999999;
$light-gray: #DDDDDD;
$tmp-yellow: #FFF000;

// NOTE(hajae): light mode main colors
$l-primary: #D9E4DD;
$l-primary-gray: #CDC9C3;
$l-primary-dark: #555555;
$l-primary-white: #FBF7F0;

// NOTE(hajae): dark mode main colors
$d-primary: #FFD369;
$d-primary-gray: #393E46;
$d-primary-dark: #222831;
$d-primary-white: #EEEEEE;
